@import "src/styles/variables";

@media screen and (min-width: 1425px) {
  .wrapper {
    width: 100%;
    height: calc(100% - 85px);
    //background: #CACACA;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    .formWrapper {
      width: 85%;
      height: 80%;
      background: $background_global;
      box-shadow: 0 5px 20px rgba(226, 194, 45, 0.1);

      display: flex;
      align-items: center;

      padding: 30px;

      position: relative;
      z-index: 10;

      &Hide {
        @extend .formWrapper;

        &:before {
          transform: translateY(-50%) scaleY(0) !important;
          opacity: 0 !important;
        }

        &:after {
          transform: translateY(-50%) scaleY(0) !important;
          opacity: 0 !important;
        }
      }

      &:before {
        content: "";
        width: 5%;
        height: 70%;

        position: absolute;
        top: 50%;
        left: -5%;
        z-index: 10;

        opacity: 1;
        transition: all 1s ease .5s !important;

        transform: translateY(-50%) scaleY(1);
        background: linear-gradient(180deg, #E5BE2C 12.5%, rgba(32, 33, 33, 0) 100%);
      }

      &:after {
        content: "";
        width: 5%;
        height: 70%;

        position: absolute;
        top: 50%;
        right: -5%;
        z-index: 10;

        opacity: 1;
        transition: all 1s ease .5s !important;

        transform: translateY(-50%) scaleY(1);
        background: linear-gradient(180deg, #E5BE2C 12.5%, rgba(32, 33, 33, 0) 100%);
      }

      .leftContainer {
        width: auto;
        height: calc(100% - 60px);
        min-width: 370px;
        background: url("/assets/images/ContanctUs.png");
        background-size: cover;

        overflow: hidden;

        opacity: 1;
        transition: all .35s ease .2s;

        &Hide {
          @extend .leftContainer;
          opacity: 0;
        }

        padding: 30px;

        .leftTextContainer {
          transform: translateX(0);

          .leftTitle {
            width: fit-content !important;
            //font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 35px;
            /* identical to box height */

            text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);

            margin-top: 0;
            letter-spacing: 0.02em;

            color: #FFFFFF;
            transform: translateY(0);
            transition: all .45s ease .6s;

            &Hide {
              width: fit-content !important;
              font-size: 35px;
              color: #FFFFFF;
              transform: translateY(-300%);
            }
          }

          .text {
            width: fit-content !important;
            //font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 18px;
            /* identical to box height */
            text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.7);

            letter-spacing: 0.02em;
            color: #FFFFFF;

            transform: translateX(0);
            transition: all .45s ease 1s;
            opacity: 1;

            &Hide {
              width: fit-content !important;
              font-size: 18px;
              color: #FFFFFF;
              opacity: 0;
              transform: translateX(-300%);
            }

            /* Inside auto Layout.component */
            flex: none;
            order: 1;
            flex-grow: 0;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .rightContainer {
        width: 100%;
        height: 100%;
        padding-left: 30px;

        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .formTitle {
          &Hide {
            transform: translateY(-200%);
            font-size: 50px;
            color: #E5BE2C;
          }

          transform: translateY(0);
          transition: all .45s ease .6s;

          //font-family: 'Josefin Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 50px;
          line-height: 50px;
          /* identical to box height */

          text-align: center;
          letter-spacing: 0.03em;

          /* Main Color */
          color: #E5BE2C;

          margin: 0;
        }

        .topInputContainer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin-top: 10%;

          .inputTopLeft {
            width: 45%;
            border: none;
            color: white;
            outline: none;
            padding-bottom: 2%;
            background: transparent;
            border-bottom: 1px solid white;

            transform: translateX(0);
            transition: all 1s ease 1s;

            &:focus {
              outline: none;
              transition: all .25s ease !important;
              border-bottom: 1px solid #E5BE2C !important;
            }

            &Hide {
              background: transparent;
              transform: translateX(-200%);
            }
          }

          .inputTopRight {
            width: 45%;
            border: none;
            color: white;
            outline: none;
            padding-bottom: 2%;
            background: transparent;
            border-bottom: 1px solid white;
            transform: translateX(0);
            transition: all .5s ease 1s;

            &:focus {
              width: 45%;
              outline: none;
              transition: all .25s ease !important;
              border-bottom: 1px solid #E5BE2C !important;
            }

            &Hide {
              background: transparent;
              transform: translateX(200%);
            }
          }
        }

        .messageContainer {
          &Hide {
            opacity: 0;
            transform: scale(0);
          }

          opacity: 1;
          transform: scale(1);
          transition: all .8s ease 1.5s;

          width: 100%;
          height: 100%;
          margin: 5% 0;
          max-height: calc(100% - 100px);

          textarea {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            background: transparent;
            border: 1px solid #FFF;
            padding: 2%;

            font-family: inherit;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */

            display: flex;
            align-items: center;
            letter-spacing: 0.02em;

            color: #FFF;

            &:focus {
              outline: none;
              border: 1px solid #E5BE2C;
            }
          }
        }

        .checkboxContainer {
          &Hide {
            opacity: 0;
            transform: scale(0);
          }

          opacity: 1;
          transform: scale(1);
          transition: all .5s ease 1.5s;

          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 5%;

          .radio_input {
            display: none;
          }

          .radio_label {
            //font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.02em;

            color: #FFFFFF;

            display: inline-block;
            position: relative;
            padding-left: 25px;
            margin-right: 10px;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }

            &:before {
              left: 0;
              top: 0;
              content: "";
              width: 16px;
              height: 16px;
              position: absolute;
              border: 1px solid #FFFFFF;

            }

            &:after {
              top: 9px;
              left: 9px;
              opacity: 0;
              width: 9px;
              height: 9px;
              content: "";
              position: absolute;
              background-color: #E5BE2C;
              transform: translate(-50%, -50%);
              transition: opacity 0.2s ease-in-out;
            }
          }

          .radio_input:checked + .radio_label:after {
            opacity: 1;
          }
        }

        .sendContainer {
          width: 100%;

          box-sizing: border-box;

          padding-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          transform: translateY(0);
          transition: all 1s ease 2s;

          &Hide {
            transform: translateY(200%);
          }
        }
      }
    }
  }
}
