@import "variables";

@media screen and (min-width: 1440px) {
  .mainScreenWrapper {
    width: 100%;
    height: 100%;
    //background: #FAFA00;

    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      //font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 65px;
      line-height: 65px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.05em;

      color: #FFFFFF;
    }
  }
}
