// new variables >>>
$link_color: #FFFFFF;

$text_white: #FFFFFF;

$title_color: #FFF;
$sub_title_color: #CACACA;

$transition_primary: all .45s ease;
$background_global: rgb(26, 33, 38);
$border_light: rgba(255, 255, 255, 0.1);
// new variables <<<