// new variables >>>
$link_color: #FFFFFF;

$text_white: #FFFFFF;

$title_color: #FFF;
$sub_title_color: #CACACA;

$transition_primary: all .45s ease;
$transition_slow: all 2s ease;
$background_global: #202121;
$border_light: rgba(255, 255, 255, 0.1);
// new variables <<<
