@import "src/styles/variables";

@media screen and (min-width: 1425px) {
  .headerWrapper {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;

    transition: all .45s ease;

    background: linear-gradient(270deg, #202121 19.27%, rgba(32, 33, 33, 0) 100%);
    filter: drop-shadow(0px -3px 30px rgba(226, 194, 45, 0.05)) drop-shadow(0px 3px 30px rgba(226, 194, 45, 0.05));
    backdrop-filter: blur(10px);

    &Hide {
      @extend .headerWrapper;

      transform: translateY(-100%);
    }

    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 11.5%;

      .links {
        //font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.02em;

        div {
          cursor: pointer;
          transition: all .4s ease;

          &:hover {
            transform: scale(1.05);
          }
        }

        /* Main Color */
        a {
          color: #E5BE2C;
          text-decoration: none;
          margin-right: 40px;
          transition: all .4s ease;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            transform: scale(1.05);
          }

          &.active {
            opacity: .8;
          }
        }
      }
    }
  }

  .headerWrapperMain {
    @extend .headerWrapper;
    position: absolute !important;
    top: calc(100% - 70px);

    &Hide {
      @extend .headerWrapperMain;
      //top: 100%;
      transform: translateY(100%);
    }
  }
}
