@media screen and (min-width: 1425px){
  .container {
    width: auto;
    height: 100vh;

    padding: 0 11.5%;

    background-size: cover !important;
    background-position: center !important;
  }
}
